.quadrado{
    position: absolute;
    height: 100px;
    width: 1100px;
    display: flex;
    
    background-color: antiquewhite;
}

.centimetros{

    margin-left: 37.8px;
}
.linha{
    border: 2px solid #000;
    transform: rotate(90deg);
}

@media (max-width: 550px){
    .quadrado{
        position: absolute;
        height: 1100px;
        width: 100px;
        display:block;
        
        background-color: antiquewhite;
    }
    
    .centimetros{
        margin-block-end: 110px;
        margin-left: 30%;
    }
    .num{
        position: relative;
        
    }
    .linha{
        border: 2px solid #000;
        transform: none;
    }
    
}