.quadrado{
    position: absolute;
    height: 100px;
    width: 1100px;
    display: flex;
    
    background-color: antiquewhite;
}

.centimetros{
    border-top: solid #000 2px;

    margin-left: 37.8px;
}

@media (max-width: 550px){
    .quadrado{
        position: absolute;
        height: 1100px;
        width: 100px;
        display:block;
        
        background-color: antiquewhite;
    }
    
    .centimetros{
        border-top: solid #000 2px;
    
        margin-top: 37.8px;
        transform: rotate(180deg);
    }
    
}